*.pyc
test.ipynb
UML/.*.dtmp
UML/.*.bkp
*.xml
*.lock
*.zip
*.toc
*.spec
*.pkg
*.html
*.txt
*.pyz
*.exe
*.log

# Build artifacts
build/
dist/

# Python
__pycache__/
*.pyo

# Jupyter
.ipynb_checkpoints/
